#male {
	width: 1.5em;
	height: 1.5em;
	background-image: url(male.png);
	background-size: contain;
}

#female {
	width: 1.5em;
	height: 1.5em;
	background-image: url(female.png);
	background-size: contain;
}

td div {
	display: flex;
	justify-content: start;
	align-items: start;
}

input[type="submit"] {
	background-color: #afafaf;
	outline: none;
	transition: all 500ms ease-in-out;
}

input[type="submit"]:hover {
	background-color: #8f8f8f;
}

input[type="submit"]:active {
	background-color: #5f5f5f;
}
