#male {
	width: 1.5em;
	height: 1.5em;
	background-image: url(male.png);
	background-size: contain;
}

#female {
	width: 1.5em;
	height: 1.5em;
	background-image: url(female.png);
	background-size: contain;
}

td div {
	display: flex;
	justify-content: start;
	align-items: start;
}
