html.light {
	--brightness: 100%;
}

html.dark {
	--brightness: 10000%;
}

#male {
	width: 1.5em;
	height: 1.5em;
	background-image: url(male.png);
	background-size: contain;
	filter: brightness(var(--brightness));
}

#female {
	width: 1.5em;
	height: 1.5em;
	background-image: url(female.png);
	background-size: contain;
	filter: brightness(var(--brightness));
}

td div {
	display: flex;
	justify-content: start;
	align-items: start;
}

main {
	color: var(--txt);
}

input {
	width: 80vh;
	background-color: var(--bg);
	color: var(--txt);
}

input[type="range"] {
	accent-color: var(--cbg);
}

nav div:hover {
	background-color: #e07a5f;
	border-color: #e07a5f;
}
